.game-grid {
  display: grid;
  justify-content: center;
  margin: 10rem auto;
}

.game-grid--4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  width: 53.2rem;
  height: 53.2rem;
  font-size: 4.4rem;
}

.game-grid--6x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.6rem;
  width: 57.2rem;
  height: 57.2rem;
  font-size: 3.2rem;
}
