.game-info-container {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.game-info-container--vertical {
  flex-direction: column;
}

.game-info-container--horizontal {
  flex-direction: row;
  justify-content: center;
}

.game-info-container--vertical > * {
  flex: 1 1 100%;
}

.game-info-container--horizontal > * {
  flex: 1 1 25%;
  max-width: 30rem;
}

@media screen and (max-width: 768px) {
  .game-info-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .game-info-container {
    gap: 1rem;
  }
}
