@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --color-dark-tangerine: #fda214;
  --color-light-tangerine: #ffb84a;
  --color-spindle: #bcced9;
  --color-arapawa: #304859;
  --color-tangaroa: #152938;
  --color-white-smoke: #f2f2f2;
  --color-bermuda-grey: #7191a5;
  --color-shakespeare: #6395b8;
  --color-pattens-blue: #dfe7ec;
  --color-snow: #fcfcfc;
  --font-size-h1: 4.8rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2rem;
  --font-size-number-4x4: 5.6rem;
  --font-size-number-6x6: 4.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: var(--color-bermuda-grey);
}

#root {
  --padding-left-right: 4rem;
  padding: 6rem var(--padding-left-right);
  max-width: calc(110rem + var(--padding-left-right));
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--color-arapawa);
}

h3 {
  font-size: var(--font-size-h3);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  border-radius: 6rem;
  transition: all 0.3s;
}

/*style of components*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 2rem;
}

.button {
  padding: 1rem 2.6rem;
}

.button-primary {
  color: var(--color-snow);
  background-color: var(--color-dark-tangerine);
}

.button-primary:hover {
  background-color: var(--color-light-tangerine);
}

.button-secondary {
  color: var(--color-arapawa);
  background-color: var(--color-pattens-blue);
}

.button-secondary:hover {
  color: var(--color-snow);
  background-color: var(--color-shakespeare);
}

.game-grid {
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin: 10rem auto;
}

.game-grid-4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 53.2rem;
  height: 53.2rem;
  font-size: 4.4rem;
  color: var(--color-snow);
}

.game-grid-6x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 57.2rem;
  height: 57.2rem;
}

.game-button {
  color: inherit;
  background-color: var(--color-spindle);
  width: 100%;
  height: 100%;
  position: relative;
}

.game-button::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-arapawa);
  transition: all 0.3s ease;
}

.game-button--visible::before {
  opacity: 0;
}

.game-button--hidden::before {
  opacity: 1;
}

.bottom-tabs-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

.bottom-tab {
  background-color: var(--color-pattens-blue);
  border-radius: 1rem;
  padding: 1.4rem 2rem;
  flex: 0 1 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
