@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --color-dark-tangerine: #fda214;
  --color-light-tangerine: #ffb84a;
  --color-spindle: #bcced9;
  --color-arapawa: #304859;
  --color-tangaroa: #152938;
  --color-white-smoke: #f2f2f2;
  --color-bermuda-grey: #7191a5;
  --color-shakespeare: #6395b8;
  --color-pattens-blue: #dfe7ec;
  --color-snow: #fcfcfc;
  --font-size-h1: 4.8rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2rem;
  --font-size-number-4x4: 5.6rem;
  --font-size-number-6x6: 4.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  --padding-left-right: 6rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  max-width: calc(110rem + var(--padding-left-right));
  margin: 0 auto;
  padding: 8rem var(--padding-left-right);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  border-radius: 6rem;
  transition: all 0.3s;
}

/*style of components*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 2rem;
}

.button {
  padding: 1rem 2.6rem;
}

.button-primary {
  color: var(--color-snow);
  background-color: var(--color-dark-tangerine);
}

.button-primary:hover {
  background-color: var(--color-light-tangerine);
}

.button-secondary {
  color: var(--color-arapawa);
  background-color: var(--color-pattens-blue);
}

.button-secondary:hover {
  color: var(--color-snow);
  background-color: var(--color-shakespeare);
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 11.8rem);
  grid-template-rows: repeat(4, 11.8rem);
  justify-content: center;
  gap: 2rem;
  padding-top: 10rem;
}

.game-button {
  background-color: var(--color-arapawa);
}
